<mat-card>
  <mat-card-title>
    About this Project
  </mat-card-title>
  <mat-card-content>
    This is a project by Joerg &lt;IsAGeek&gt; Krause. You can get more details
    <a href="https://www.joergkrause.de" target="_blank">here</a>.
    <br />
    <p>
      This project shows the usage of Angular 5 (most current version) with Material 5 and it's purpose is to show that using the
      traditional techniques such as Gulp, SystemJS, and related tools is a viable and feasible way to create Angular projects
      that are both, fast and small.
    </p>
    <p>
      The big question here is&mdash;why not using NG and WebPack? For me, these tools are hide the essential setup steps. They
      are productive indeed. But, for most developers it's unclear what they do, how they work and how to fix issues one has in
      larger projects. The manual setup shown here, with many single steps, is far more easier to debug, to maintain, to handle
      in case of something goes wrong. 
    </p>
    <p>
      The outcome is, compared to a pure ng project, simply almost the same. This project can use AoT or not, it does tree-shaking
      and it shrinks as much as possible including producing gzipped-files to show the real outcome. It's realistic due to the added
      components and the material and CDK projects.
    </p>
  </mat-card-content>
</mat-card>