<div class="container">
  <mat-toolbar color="primary">
    <span routerLink="/forms">
      <mat-icon>mood</mat-icon>
    </span>
    &nbsp;
    <span>Material 5 running on Angular 5</span>
    <span class="spacer"></span>
    <div>
      <button mat-icon-button [mat-menu-trigger-for]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu x-position="before" #menu="matMenu">
        <button mat-menu-item routerLink="/forms">
          <mat-icon>text_format</mat-icon>
          <span>Form Controls</span>
        </button>
        <button mat-menu-item routerLink="/indicator">
          <mat-icon>fast_forward</mat-icon>
          <span>Indicator Controls</span>
        </button>
        <button mat-menu-item routerLink="/layout">
          <mat-icon>picture_in_picture</mat-icon>
          <span>Layout Controls</span>
        </button>
      </mat-menu>
    </div>
  </mat-toolbar>
  <router-outlet></router-outlet>
  <span class="done">
    <button mat-fab [mat-menu-trigger-for]="sideMenu">
      <mat-icon>home</mat-icon>
    </button>
  </span>
  <mat-menu #sideMenu="matMenu">
    <button mat-menu-item routerLink="/help">
      <mat-icon>help</mat-icon>
    </button>
    <button mat-menu-item routerLink="/about">
      <mat-icon>account_circle</mat-icon>
    </button>
  </mat-menu>
</div>